<form id="weather_form" action="/db" method="post">
    location: <select name="location" required>
        <option value="helsinki">Helsinki</option>
        <option value="tokio">Tokio</option>
        <option value="new york">New York</option>
        <option value="amsterdam">Amsterdam</option>
        <option value="dubai">Dubai</option>
    </select><br>
    temperature: <input required name="temperature" type="number"><br>
    <input type="submit">
</form>