<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
    <p>Hello world</p>
    <% if(results) { %>
    <% results.forEach(function(r) { %>
      <li><%= r.id %> - <%= r.location %>: <%= r.temperature%>, <%= r.timestamp%></li>
    <% });} %>
</body>
</html>