<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div class="container">
    <% include ../partials/weather_form.ejs %>
    <% include ../partials/card_deck.ejs %>
  </div>
</body>
</html>